/*DEBUG BORDERS*/

/*div{
    border: #00ff40;
    border-width: 3px;
    border-style: solid;
}*/

.blue-square {
    background-color: #4d79ff;
}

.white-square {
    background-color: #e6ecff;
}

.red-square {
    background-color: #da0000
}

.green-square {
    background-color: #006d18
}

.yellow-square {
    background-color: #a59b16
}

.board-container {
    margin:auto;
    height:600px;  
    width:600px;
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
}

.header{
    width:fit-content;
    margin:auto;
    padding-bottom: 40px;
}

.subheader{
    width:fit-content;
    margin:auto;
    padding-bottom: 20px;
}

.board-holder {
    display: grid; 
    margin: auto;
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
}

/*NOT my orignal code, taken from stackoverflow
https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.number-input{
    text-align: center;
}

.center-item{
    margin:auto;
    text-align: center;
}

.signature-footer{
    padding:5px;
    right:0;
    bottom:0;
    position:fixed;
}

.about-block{
    width: 75%;
    text-align: left;
}