.blue-square {
    background-color: #4d79ff;
}

.white-square {
    background-color: #e6ecff;
}

.red-square {
    background-color: #da0000
}

.board-container {
    margin:auto;
    height:600px;  
    width:600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
}

.header{
    width:fit-content;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}